.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.styledButton{
  margin-left: 5px;
}
.focused:focus{
  background-color: #282c34;
  color: white;
}
button.active {
  background-color: #282c34;
  color: white;
}
.pot{ 
  /* background-color: #4CAF50;  */
  border: none; /* Remove button border */
  color: white; /* Text color */
  padding: 10px 20px; /* Add padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline from the text */
  display: inline-block; /* Make it an inline element */
  font-size: 16px; /* Set the font size */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 2px 2px 2px #888;}

  /* .pot:hover{
    background-color: #3e8e41;
    color: white;
  } */
  .DivButtons{
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }  
  .buttonInCard{
    border: none;
    color: white;
    background-color: #282c34;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888;
  }