

 .textcont{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;}

 .h5title{    font-size: 18px;
  font-weight: 700;}
.h5des{
  width: 50%;
}
.imgdetail{
  width: 300px;
  height: 300px;
}

.ContainerProductDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px;
}